// components horizontal

  // $horzCard;
  
  $horiz-bkgrnd: #01c1d6; 
  // horizontal orientation starts here    
      @media screen and (min-width: 600px) {
          .profile-card-container {
              max-width: 40rem;
              flex-direction: row;
              padding: 2rem;
          }
          .card-details-area {
              background-color: $horiz-bkgrnd;
              width: 20rem;
              text-align: left;
              padding-left: 1rem;
              margin-left: 2rem;
          }
      }
      